{% extends 'base.html' %}
{% block title %}Reset Password {% endblock %}
{% from '_error_messages.html' import field_error_messages, error_messages %}

{% block content %}
<div class="row">
  <div class="col-lg-7 offset-lg-2 my-5">
    <h1>Reset Password</h1><hr>
    <p>Type in your email so that we can send you the password reset instructions.</p>
    <form method="POST" action="{{ url_for('auth.password_reset') }}">
      {{ form.csrf_token }}
      {{ error_messages(form.errors) }}
      <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
        {{ field_error_messages(form.email) }}
      </div>
      <hr>
      <div class="form-group">
        {{ form.submit(class="btn btn-primary form-control") }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
